<form method="post" >
  <div class="mb-3">
    <label for="search-input" class="form-label">Key words</label>
    <input type="text" name="q" class="form-control" id="search-input" placeholder="Input key ...">
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>